.spot-c-header {
    height: 75px;
    background-color: #151515;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.spot-c-header-title {
    margin: 20px 20px 30px 15px;
    color: white;
}