.spot-c-header {
    background-color: var(--pf-global--BackgroundColor--dark-100);
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.spot-c-header-title {
    margin: 20px 20px 30px 15px;
    color: var(--spot-c-global--Spotify-Green);
}